.s-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;

    h2 {
        font-size: 14px;
        font-weight: 600;
        color: $color-5;
    }

    .see-all,
    a {
        font-size: 12px;
        font-weight: 600;
        color: $color-1;
        transition: all 0.3s;
        
        &:hover {
            color: $color-5;
        }
    }
}

.suggestion-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;

    .user-wrapper {
        display: flex;
        align-items: center;

        h2 {
            font-size: 14px;
            font-weight: 600;
            color: $color-1;
            margin-bottom: 5px;
            @include truncate_text(1, $is_fixed_height: true);
        }

        h6 {
            font-size: 12px;
            font-weight: 400;
            color: $color-5;
        }

        .s-user {
            height: 45px;
            width: 45px;
            background-color: #000;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .user-info {
            margin-left: 10px;
        }
    }
    
    .follow-link {
        font-size: 12px;
        font-weight: 600;
        color: $color-4;
    }

}

